<div class="col-sm-6 col-md-6 col-lg-4">
	<div class="thumbnail">
		<div class="caption">
			<h3>{{#link-to modelRoute model}}{{model.name}}{{/link-to}}</h3>
			{{#link-to modelRouteEdit model class="btn btn-info"}}<span class="glyphicon glyphicon-edit"></span> Edit{{/link-to}}
			<button class="btn btn-danger" onclick={{action 'delete'}}><span class="glyphicon glyphicon-trash"></span> Delete</button>
		</div>
	</div>
</div>